.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-primary);
  padding: 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.flex {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 50px;
  padding-right: 0.5rem;
}

.logo-text {
  color: var(--text-main);
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.nav-icon {
  color: var(--text-main);
  transition: color 0.3s ease;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  margin-left: auto;
  /* Push links to the right */
  padding: 0 1.5rem;
}

.navbar-links li {
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-link {
  color: var(--text-main);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0.5rem 0;
  font-family: inherit;
  /* Ensure same font */
  white-space: nowrap;
}

.nav-link:hover {
  color: var(--accent-color);
}

.theme-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Responsive Navbar Styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    width: fit-content;
    height: 100%;
  }

  .navbar-links {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: var(--bg-primary);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, background-color 0.3s ease;
  }

  .navbar-links.open {
    max-height: 400px;
    /* Adjust height as needed to fit all items */
  }

  .navbar-links li {
    width: 100%;
    text-align: center;
  }

  .nav-link {
    padding: 1rem 0;
    display: block;
    width: 100%;
    font-size: 1.2rem;
  }
}